body {
  font-family: sans-serif;
}

#assignment-instructions {
  color: darkblue;
  font-family: sans-serif;
}

code {
  color: red;
  font-family: monospace;
}

.code-highlight {
  color: green;
}

li + li{
  background-color: black;
  color:white;
}

ol > li {
  background-color: black;
  color: white;
}